.newproject_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em;
}

.newproject_container h1 {
  margin-bottom: 0.5em;
}

input {
  border-radius: 5px !important;
  transition: 0.5s;
}
input:hover {
  background-color: beige;
}
@media (max-width: 900px) {
  input {
    height: 60px;
  }
}
