.project_details {
  padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
  margin-right: 10pc;
  margin-bottom: 0.5em;
}

.project_details h1 {
  background-color: #125c4e;
  color: #ffbb33;
  padding: 0.4em;
}

.project_details span {
  font-weight: bold;
}

.details_container,
.service_form_container {
  border-bottom: 1px solid #7a7a7a;
  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
input[type='date'] {
  cursor: pointer;
}
[type='date']::-webkit-inner-spin-button {
  cursor: pointer;
  display: none;
}
[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
input[type='time'] {
  cursor: pointer;
}
[type='time']::-webkit-inner-spin-button {
  cursor: pointer;
  display: none;
}
[type='time']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.btn {
  background-color: #125c4e;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  border: none;
  cursor: pointer;
  max-height: 40px;
}

.btn:hover {
  color: #ffbb33;
}

.form {
  width: 100%;
}
