.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0 0 30px 30px;
  background-color: #5f5ba2;
  padding: 0em;
}
@media (max-width: 900px) {
  .navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0 0 30px 30px;
    background-color: none;
    padding: 0em;
  }
  img {
    width: 100%;
  }
}
